.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  border: solid 4px black;
  width: 500px;
  margin: 0 20px;
  text-align: center;
}
.item-img{
  width: 400px;
}
.WIN  {  border: 10px solid green;  color: green; }
.LOSE {  border: 10px solid red;  color: red; }
.TIE {  border: 10px solid black;  color: black; }